.theme-default-content {
	.custom-block {
		.custom-block-title {
			letter-spacing: 0.5px;
		}
	}

	.tip {
		border-left: 4px solid $accentColor;
		background-color: lighten($accentColor, 80%);
	}

	.info {
		border-left: 4px solid #0e74aa;
		background-color: #e6f6ff;
		color: #34373f;
	}

	.warning {
		border-left: 4px solid #e7c000;
		background-color: #fff7d2;
		color: #34373f;
	}

	.danger {
		border-left: 4px solid #a93e3e;
		background-color: #ffe6e6;
		color: #a93e3e;
	}
}

.custom-block.callout {
	background-color: lighten($accentColor, 80%);
	padding: 0.1rem 1.5rem;
	border-color: $accentColor;
	border-left-width: 0.5rem;
	border-left-style: solid;
}

.custom-block.right {
	float: right;
	padding: 1em 0 1em 1em;
}

.custom-block.left {
	float: left;
	padding: 1em 1em 1em 0em;
}