.btn {
	font-weight: bold;
	padding: 10px 15px;
	border: none;
	font-size: 1em;
	margin-right: 10px;
	border-radius: 2px;
	transition: all 0.3s;
	cursor: pointer;
	outline: none;
}

.btn-primary {
	background-color: darken($accentColor, 30%);
	color: white;

	&:hover {
		background-color: $accentColor;
	}
}