#algolia-search-input {
	border-radius: 0;
	border: none;
  	box-shadow:
		1px 1px 0px 1px $secondaryColor,
		-1px -1px 0px 1px $tertiaryColor;
}

header.navbar .links input {
	border-radius: 0;
	border: none;
  	box-shadow:
		1px 1px 0px 1px $secondaryColor,
		-1px -1px 0px 1px $tertiaryColor;
	color: $textColor;
}

header.navbar .links ul {
	border-radius: 0;
	padding: 0;
	border: 2px solid $tertiaryColor;
	li {
		border-radius: 0;
	}
	.focused, li:active {
		background-color: $reverseTextColor;
	}
	a {
		color: $linkColor;
	}
}

@media (min-width: $MQNarrow) {
	header.navbar .links {
		display: flex;
		flex-direction: row-reverse;

		input, .suggestions {
			width: 10em;
		}

		input:focus, .suggestions {
			width: 20em;
		}
	}
}

@media (max-width: $MQMobile) {
	header.navbar .links {
		input {
			// prevent zooming on iOS
			box-sizing: border-box;
			font-size: 1rem;

			&:focus {
				width: 87.5vw;
			}
		}
	}
}

@media (max-width: $MQMobile) {
	.home-link {
		position: absolute;
		width: 45px;
		left: calc(50% - 45px / 2);
	}
}
