@import 'util';
@import 'scrollbar';
@import 'buttons';
@import 'layout-center';
@import 'header';
@import 'sidebar';
@import 'video';
@import 'alert-panels';

/*
	Root elements styles to force them to use 100% of the viewport
*/
html {
    height: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    overflow-y: scroll;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

#app {
	height: 100%;
}

.theme-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header.navbar {
	width: 100%;
}

main.page {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.theme-default-content {
	flex: 1 0 auto;
}

.content-footer {
	flex: 0 0 auto;
}

/*
	Scroll Bar
*/

html {
	{scrollbar};
}

// apply scrolling by default excluding firefox due to trigger issues
html.smooth-scroll {
	scroll-behavior: smooth;
}

@supports (-moz-appearance: none) {
	html.smooth-scroll {
		scroll-behavior: auto;
	}
}

img[loading] {
	height: auto;
}

html {
	background-color: $primaryColor;
}

body {
	background-color: transparent;
}

#app {
	font-family: 'Ubuntu', sans-serif;

	.navbar {
		position: sticky;
		background-color: $reverseTextColor;
		border-bottom: none;
	}

	.navbar .logo {
		height: 2.5rem;
		margin: 0;
		padding: 1px 3px 0px 0;
		vertical-align: top;
	}

	.navbar .links {
		background-color: $reverseTextColor;
	}

	.site-name {
		font-size: 1.5rem;
		letter-spacing: -0.05rem;
		background: url('/images/nftschool-logo-text.svg') no-repeat;
		background-position: 8px 5px;
		text-indent: -99999px;
		min-width: 220px;
		min-height: 47px;
		background-size: contain;
	}

	.sidebar {
		background-color: $reverseTextColor;
	}

	.sidebar-button {
		color: $secondaryColor;

		.icon {
			width: 1.75rem;
			height: 1.75rem;
		}
	}

	.page {
		background-color: $offWhiteColor;
		padding-bottom: 2rem;
	}

	.icon.outbound {
		color: $linkColor;
	}
}

a {
	color: $linkColor;
}

.header-anchor {
	padding-right: 0 !important;
	margin-left: -0.5em !important;
}

h1, h2, h3, h4 {
	font-family: 'VT323', monospace;
	font-weight: 400;
	color: $primaryColor;
}

h1 {
	font-size: 3rem;
	padding-top: 2rem !important;
	padding-bottom: 0.5rem;
	line-height: 2.5rem;
}

h2 {
	font-size: 2rem;
	line-height: 1.6rem;
	border-bottom: 3px solid $tertiaryColor;
    box-shadow:  2px 5px 0 -2px $secondaryColor;
}

h3 {
	font-size: 1.75rem;
	line-height: 1.75rem;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.content-status {
  h3 {
    margin-bottom: 1rem;
  }
}

.content-footer {
	a {
		color: $secondaryColor;
	}
}

.page-edit {
	font-family: 'VT323', monospace;
	font-size: 1.25rem;
	padding-bottom: 0 !important;
}

.custom-block.callout {
	background-color: lighten($accentColor, 80%);
	padding: 0.1rem 1.5rem;
	border-color: $accentColor;
	border-left-width: 0.5rem;
	border-left-style: solid;
}

.custom-block.right {
	float: right;
	padding: 1em 0 1em 1em;
}

.custom-block.left {
	float: left;
	padding: 1em 1em 1em 0em;
}

:root {
	--accent-color: $accentColor;
	--text-color: $textColor;
	--border-color: $borderColor;
	--code-bg-color: $codeBgColor;
	--highlight-color: $highlightColor;
}
