/*
	Center default vuepress theme
*/

.theme-container, .navbar {
	@extend .max-w-screen-xl;
	@extend .mx-auto;
	@extend .relative;
}

.theme-default-content:not(.custom) {
	margin: inherit;

	& > h1 {
		padding-top: 1em;
	}
}

@media (min-width: $MQNarrow) {
	.sidebar {
		position: fixed;
		left: inherit;
		border-right: none;
	}

	footer.page-edit {
		margin: inherit;
	}
}

.theme-default-content:not(.custom) {
	margin: inherit;

	& > h1 {
		padding-top: 1em;
	}
}

// now the main.page element is capping the width
.theme-default-content:not(.custom) {
	max-width: unset;
}