// color overrides
$accentColor = $tertiaryColor;
$textColor = #123;
$sidebarTextColor = $secondaryColor;
$borderColor = $tertiaryColor;
$codeBgColor = $reverseTextColor;
$arrowBgColor = #ccc;
$badgeTipColor = $accentColor;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;
$highlightColor = #ffffa0;
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl

// NFT School colors
$primaryColor = #281b56;
$secondaryColor = #f81746;
$tertiaryColor = #27cdef;
$accentTextColor = #3f298f;
$linkColor = $secondaryColor;
$reverseTextColor = #140d2e;
$offWhiteColor = #f9ffff;

// layout
$navbarHeight = 4rem;
$sidebarWidth = 19rem;

// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;
$maxWidth = 1280px;
$contentWidth = 860px;