// color overrides
$accentColor = #3E9096;
$textColor = #000000cc;
$sidebarTextColor = #5d646f;
$borderColor = #eaecef;
$codeBgColor = #0e2233;
$arrowBgColor = #ccc;
$badgeTipColor = $accentColor;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;
$highlightColor = #ffffa0;
// https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl

// NFT School colors
$accentColorLight = #b8e0e5;
$badgeInfoColorLight = #e6F6ff;
$badgeInfoColorDark = #0e74aa;
// layout
$navbarHeight = 4rem;
$sidebarWidth = 19rem;
$contentWidth = 740px;
// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;
$maxWidth = 1280px;
$contentWidth = 740px;