ul > li > a.sidebar-link {
	color: $sidebarTextColor;
	font-weight: 500;
}

ul.sidebar-links > li > a {
	color: inherit;
}

.sidebar {
	color: #fff;

	.sidebar-heading {
		font-family: 'VT323', monospace;
		font-size: 1.6em;
		text-transform: uppercase;
		line-height: 1.4;
		margin-top: 0.25em;
		color: $secondaryColor !important;
		letter-spacing: 0.2rem;

		span {
			border-bottom: 2px solid $secondaryColor;
    		box-shadow:  2px 4px 0 -2px $tertiaryColor;
		}
	}

	.sidebar-group .arrow {
		display: none;
	}

	.sidebar-group.is-sub-group a.sidebar-link {
		margin-bottom: 0.2rem;
	}

	.sidebar-group.is-sub-group {
		margin-bottom: 0.5rem;
	}

	.sidebar-links.sidebar-group-items li:last-child .sidebar-group.is-sub-group {
		margin-bottom: 0;
	}

	.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
		opacity: 1;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.8rem;
		letter-spacing: 0.05em;
		line-height: 2em;
	}
}

.icon.outbound {
	padding-left: 0.15rem;
}

// sidebar scrollbar style
.sidebar::-webkit-scrollbar {
	width: 12px;
	position: fixed;
	right: 0;
	border-left: 2px solid $secondaryColor;
}

.sidebar::-webkit-scrollbar-thumb {
	background: transparent;
	transition: background-color 2s;
}

.sidebar::-webkit-scrollbar-thumb:hover, .sidebar:hover::-webkit-scrollbar-thumb {
	background: $borderColor;
}

@media (max-width: $MQMobile) {
	.sidebar {
		width: 80vw;
	}
}