@media (prefers-color-scheme: dark) {
    .theme-container {
        // Layout
        header.navbar .links .search-box input {
            color: $textColorDark;
            background-color: $inputSearchBgColorDark;
        }
        
        header.navbar .links .search-box .suggestions {
            background-color: $inputSearchBgColorDark;

            .suggestion a {
                color: $headingColorDark;
            }
            .suggestion.focused a {
                color: $accentColor;
            }
            
        }
        
        // Content
        main.page {
            background-color: $contentBgColorDark;
	        color: $textColorDark;
        }

        // Alert panels
        .theme-default-content {

            .tip {
                background-color: darken($accentColor, 75%);
                .custom-block-title {
                    color: $textColorDark;
                }
                color: $textColorDark;
            }

            .warning {
                border-left: 4px solid #e7c000;
                background-color: darken(#fff7d2, 87%);
                .custom-block-title {
                    color: $textColorDark;
                }
                color: $textColorDark;
                a {
			        color: $linkColorDark;
		        }
            }

            .danger {
                border-left: 4px solid #a93e3e;
                background-color: darken(#ffe6e6, 90%);
                .custom-block-title {
                    color: $textColorDark;
                }
                color: $textColorDark;
                a {
			        color: $linkColorDark;
		        }
            }
        }

        h1, h2, h3, h4, h5
        a.header-anchor {
	        color: $headingColorDark;
        }

        a {
            color: $linkColorDark;
        }

        svg.icon.outbound {
            color: $linkColorDark;
        }

        code {
            color: $textColorDark;
            background: lighten($contentBgColorDark, 20%);
        }

        td, tr, th {
            border-color: lighten($contentBgColorDark, 20%);
            background: $contentBgColorDark;
        }

        // Custom
        .feedback.feedback {
            background-color: $feedbackBgColorDark;
            border-color: $feedbackBgColorDark;

            h3 {
                color: $headingColorDark;
            }
        }
    }

    .btn-primary.btn-primary {
        background-color: darken($tertiaryColor, 55%);
        color: $textColorDark;

        &:hover {
            background-color: darken($secondaryColor, 40%);
        }
    }

    .page-edit {
        .edit-link.edit-link {
            a {
                color darken($textColorDark, 70%);
            }
        }
        .last-updated .prefix.prefix {
            color darken($textColorDark, 70%);
        }
    }

}