// width
.max-w-screen-xl {
	max-width: $maxWidth !important;
}

// position
.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

// margins
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}