.embed-responsive {
	padding-top: 56.25%;
	height: 0px;
	position: relative;
}

.embed-responsive-16by9 > .embed-responsive-item {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}